<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <title>NaPicu - PopJonanek</title>

    <meta itemprop="name" content="NaPicu">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Numax">
    <link rel="icon" href="https://napicu.eu/favicon.png">
    <meta itemprop="image" content="https://napicu.eu/logo-meta.png">
    <meta itemprop="description" content="Ahoj kamaráde! Máš chuť si naklikat? Tato stránka ti to umožní">
    <meta property="og:url" content="https://napicu.eu/">
    <meta property="og:title" content="NaPicu - PopJonanek">
    <meta property="og:description" content="Ahoj kamaráde! Máš chuť si naklikat? Tato stránka ti to umožní">
    <meta property="og:site_name" content="NaPicu">
    <meta property="og:image" content="https://napicu.eu/logo-meta.png">

    <meta name="twitter:url" content="https://napicu.eu/">
    <meta name="twitter:title" content="NaPicu - PopJonanek">
    <meta name="twitter:description" content="Ahoj kamaráde! Máš chuť si naklikat? Tato stránka ti to umožní">
    <meta name="twitter:site_name" content="NaPicu">
    <meta name="twitter:image" content="https://napicu.eu/logo-meta.png">

    <meta name="msapplication-TileColor" content="#f39c12">
    <meta name="theme-color" content="#f39c12">

    <head>

    <body>
        <section>
            <div id="count"></div>
            <img id="Jonanek1" class="block" src="/img/Jonanek2.webp">
            <img id="Jonanek2" class="none" src="/img/Jonanek1.webp">
        </section>

        <section id="Stats">
            <div class="Table">
                <div class="TableCount">
                    Světově: <span id="CounterLink">10000000000</span>
                </div>
                <div class="TableShop">
                    <img src="/img/list.webp" id="MenuShop" title="Shop">
                </div>
            </div>
        </section>
        
        <section id="ShopMain">
            <div class="MainShopTable">
                <div class="TitleShop">
                    Obchod 3000
                </div>
                <div class="Sp">

                    <div class="Item">
                        <div class="Item-Box">
                            <img src="/img/volume3.png" id="ItemImgVl">
                            <div class="Item-txt">
                                <div class="Item-Title">
                                    Vole
                                </div>
                                <div class="BuyPc">
                                    <div class="Item-Cena">
                                        Cena: <span id="cena">100000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>


            </div>
        </section>
    </body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascript/index.js"></script>